package ${package}.api;
import com.github.zillionchu.zillionchucompanybiz.thirdparty.two.entity.${className};
import com.github.zillionchu.zillionchucompanycore.thirdparty.common.BaseResponse;
import io.swagger.annotations.Api;
import io.swagger.annotations.ApiOperation;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import java.util.Map;

/**
 * ${comments}
 *
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Api(tags = "get$className")
public interface ${className}API {


    /**
     * @param  ${className}
     */
    @PostMapping("/get$className")
    @ApiOperation(value = "get$className")
    Map get${className}(@RequestBody ${className} paramDto);

}