package ${package}.feign;

import org.springframework.cloud.openfeign.FeignClient;
import org.springframework.web.bind.annotation.PostMapping;
import org.springframework.web.bind.annotation.RequestBody;

import java.util.Map;

/**
 * @Auther: ZiLlionChu
 * @Date: 2019/12/19 15:47
 * @Description:
 */
@FeignClient("$httpserver")
public interface ${className}Feign {

    @PostMapping("$httpserverpath")
    public Object ${httpserverpath}(@RequestBody Map param);

}